.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.menuLink {
    color: var(--text-over-primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    gap: 0.3rem;
    background-color: var(--primary);
    padding: 1.0rem;
    border-radius: 10px;
}

.menuLink:hover {
    filter: brightness(80%);
    transition: all 0.1s ease-in-out;
}

.menuLink svg {
    width: 2.9rem;
    height: 2.9rem;
    
}

